<!DOCTYPE html>
<html>
<head>
  <title>Create a New Student</title>
</head>
<body>
  <form action="/students" method="POST"> <!--POSTs are the preffered request type conventionally speaking among rubbiests for creating new data.-->
    <input type="text" name="name" placeholder="name">
    <input type="text" name="campus" placeholder="campus">
    <input type="text" name="age" placeholder="age">
    <button type="submit">Save</button>
  </form>
</body>
</html>